@import "./common/var.scss";

.gk-breadcrumb {
  position: relative;
  font-size: $--font-size;

  .gk-breadcrumb-ops {
    float: left;
    margin-right: 15px;

    button {
      outline: 0;
      width: $--breadcrumb-button-size;
      height: $--breadcrumb-button-size;
      font-size: 18px;
    }
  }

  .gk-breadcrumb-input {
    width: 100%;
    vertical-align: middle;

    .gk-input-group__prepend {
      font-size: 14px;
      max-width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .gk-breadcrumb-list {
    float: left;
    padding: 0;
    margin: 0;
    overflow: hidden;
    line-height: $--breadcrumb-button-size;

    .gk-breadcrumb-item {
      float: left;
      display: flex;
      overflow: hidden;
      list-style: none;

      a {
        color: #999999;
        text-decoration: none;
      }

      i {
        line-height: $--breadcrumb-button-size;
        margin: 0 5px;
        font-weight: bold;
        color: #999999;
      }

      span {
        color: #212121;
        cursor: default;
      }

      a, span {
        max-width: $--breadcrumb-item-width;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  .gk-breadcrumb-full {
    background: #fff;
    position: absolute;
    border: 1px solid $--button-border-color;
    padding: 0 5px;
    z-index: 1000;
  }

  .gk-breadcrumb-hidden {
    visibility: hidden;
    position: absolute;
  }
}