@import "./common/var.scss";

.gk-button {
  outline: 0;
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  border: 1px solid $--button-border-color;
  color: $--font-color;
  font-size: $--font-size;
  padding: $--button-padding;
  border-radius: $--button-border-radius;

  &.gk-button-plain {
    padding: 0;
    border-radius: 0;
  }

  &.gk-button-active {
    background-color: $--primary-color;
    color: $--font-reverse-color;
  }
}

div.gk-button {
  display: inline-block;
}