.gk-button-group {
  clear: both;
  & > .gk-button {
    margin-left: -1px;
    float: left;
  }

  &[plain] > .gk-button {
    border-radius: 0;
  }

  & > .gk-button:first-child {
    margin-left: 0;
  }
}