@import "./mixins/utils.scss";

.gk-button-group {
  @include clearfix;
  display: inline-block;
  vertical-align: middle;

  & > .gk-button,
  & > .gk-uploader-buttons {
    float: left;

    &:not(:first-child) {
      margin-left: -1px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &[plain] > .gk-button {
    border-radius: 0;
  }
}