@import "./common/var.scss";

.gk-button {
  outline: 0;
  padding: 0;
  cursor: pointer;
  text-align: center;
  background: #ffffff;
  border: 1px solid $--button-border-color;
  color: $--font-color;

  &.gk-button-active {
    background-color: $--primary-color;
    color: $--font-reverse-color;
  }
}