@import "./mixins/utils.scss";

.gk-button-group {
  @include clearfix;

  & > .gk-button,
  & > .gk-uploader-buttons {
    margin-left: -1px;
    float: left;
  }

  &[plain] > .gk-button {
    border-radius: 0;
  }

  & > .gk-button:first-child,
  & > .gk-uploader-buttons:first-child {
    margin-left: 0;
  }
}