@import "./common/var.scss";

.gk-checkbox {
  span {
    width: 14px;
    height: 14px;

    i {
      font-size: 16px;
      border-radius: 2px;
      background-color: #FFFFFF;
      color: $--default-border-color;
      vertical-align: middle;
      margin-top: -2px;
      cursor: pointer;

      &:hover {
        color: $--primary-active-color;
      }
    }

    input {
      display: none;
    }
  }

  &.is-checked {
    i {
      color: $--primary-active-color;
    }
  }
}