@import "./common/var.scss";
@import "./mixins/utils.scss";

.gk-finder {
  @include fit-dom;

  .gk-finder-toolbar {
    padding: 10px 0 10px 25px;
    background-color: #F7F7F7;
    .gk-breadcrumb {
      height: 28px;
    }

    .gk-finder-show-ops {
      float: right;
      text-align: right;
      margin-top: -$--breadcrumb-button-size;
      margin-right: 28px;

      .gk-finder-sort-button {
        padding: 0;
        font-size: 16px;
        height: $--breadcrumb-button-size;
        width: $--breadcrumb-button-size;
        margin-right: 10px;
      }

      .gk-finder-view-mode {
        display: inline-block;
        vertical-align: middle;

        button {
          padding: 0;
          font-size: 16px;
          height: $--breadcrumb-button-size;
          width: $--breadcrumb-button-size;
        }
      }
    }
  }

  .gk-finder-content {
    @include fit-window;
    top: $--breadcrumb-button-size;
    margin-top: 20px;

    p {
      margin: 0;
      padding: 0;
      color: #222222;
    }

    .gk-slide {
      background-color: #FFFFFF;
    }

    .gk-finder-main-column {
      overflow: hidden;

      & > div {
        float: left;
      }

      & > ul {
        float: left;
        display: none;
        line-height: 40px;
        width: 50%;
        overflow: hidden;
        padding: 0 5%;
        text-align: right;
        white-space: nowrap;
        li {
          line-height: 24px;
          margin: 0 10px;
          display: inline-block;
          color: $--primary-color;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .gk-table-item-active {
      .gk-finder-main-column > ul {
        li {
          color: $--primary-color;
        }
      }
    }

    .gk-table-item:hover {
      .gk-finder-main-column {
        & > div {
          width: 50%;

          p {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        & > ul {
          display: block;
        }
      }
    }

    &.gk-finder-view-listdetail {
      .gk-finder-filename-column {
        span {
          color: #222222;
          font-size: 14px;
          margin-right: 10px;
          font-weight:400;
        }
      }

      .gk-table-item-active {
        .gk-finder-filename-column {
          span {
            color: #222222;
          }
        }
      }
    }

    &.gk-finder-view-list {
      .gk-finder-filename-column {
        img, i {
          margin-right: 5px;
          margin-top: -2px;
          float: left;
        }
      }
    }

    &.gk-finder-view-listgrid {
      .gk-finder-filename {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-top: 6px;
      }
    }
  }

  &.gk-mobile-finder {
    .gk-finder-toolbar {
      display: none;
    }

    .gk-finder-content {
      top: 0;
      margin-top: 0;

      table {
        tr.gk-table-item {
          &.gk-table-item:hover,
          &.gk-table-item-active {
            td {
              background-color: transparent;
              color: inherit;
            }

            .gk-finder-main-column {
              span {
                color: #999999;
              }

              & > div {
                width: auto;

                p {
                  white-space: normal;
                }
              }
            }
          }
        }
      }

      .gk-finder-item-buttons {
        background-color: $--primary-color;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding: 0 10px;

        & > li {
          margin: 10px 5%;
          color: $--font-reverse-color;

          i {
            vertical-align: middle;
          }
        }
      }

      .gk-finder-item-dropdown {
        padding: 5px;
      }
    }
  }
}