@import "./common/var.scss";

.gk-menu {
  z-index: 9001;
  min-width: 160px;
  background: #FFFFFF;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  margin: 5px 0;
  padding: 9px 0;
  opacity: 0;
  display: none;
  transition-property: opacity;
  transition-duration: .25s;

  li {
    list-style: none;
  }

  .gk-menu-divided {
    height: 1px;
    background-color: #EEEEEE;
    margin: 9px 0;
  }

  .gk-menu-item {
    height: $--menu-item-height;

    a {
      color: $--font-color;
      font-size: $--font-size;
      line-height: $--menu-item-height;
      display: block;
      text-decoration: none;
      padding-left: 25px;

      i {
        margin-left: -15px;
        display: inline-block;
        width: 15px;
        height: 15px;
      }
    }

    a:hover {
      background-color: $--menu-hover-color;
    }

    &.gk-menu-active {
      background-color: $--menu-active-color;
    }
  }
}