@import "./common/var.scss";

.gk-menu {
  z-index: 9001;
  min-width: 160px;
  background: $--menu-background-color;
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  margin: 8px 0;
  padding: 9px 0;
  opacity: 0;
  display: none;
  transition-property: opacity;
  transition-duration: .25s;

  li {
    list-style: none;
  }

  .gk-menu-divided {
    height: 1px;
    background-color: #EEEEEE;
    margin: 9px 0;
  }

  .gk-menu-arrow {
    position: absolute;
    display: block;
    border: 4px solid $--menu-background-color;
    transform: rotate(45deg);
    z-index: -1;
    top: -4px;
    box-shadow: 0 -6px 12px -2px rgba(0, 0, 0, .175);

    &.gk-menu-arrow-top {
      top: auto;
      bottom: -4px;
      box-shadow: 0 6px 12px 0px rgba(0, 0, 0, .175);
    }
  }

  .gk-menu-item {
    height: $--menu-item-height;
    color: $--font-color;
    font-size: $--font-size;
    line-height: $--menu-item-height;
    display: block;
    text-decoration: none;
    padding-left: 25px;
    padding-right: 5px;
    cursor: default;

    i {
      margin-left: -15px;
      display: inline-block;
      width: 15px;
      height: 15px;
    }

    .gk-menu-item-right {
      float: right;

      i {
        margin-left: 0;
      }

      i.fa-caret-right {
        width: 5px;
      }
    }

    &:hover {
      background-color: $--menu-hover-color;
    }

    &.gk-menu-item-active {
      background-color: $--menu-active-color;
    }

    &.gk-menu-item-disable {
      background-color: $--menu-disable-color;
    }
  }

}