@import "./common/var.scss";
@import "./mixins/utils.scss";

.gk-table {
  overflow: hidden;

  .gk-table-header {
    border-spacing: 0;
    width: 100%;
    border-bottom: 1px solid $--table-border-color;

    thead {
      tr {
        border-radius: 2px 2px 0 0;

        th {
          height: $--table-head-height;
          color: $--table-head-font-color;
          font-size: 14px;
          font-weight: normal;
          text-align: left;

          .sortable {
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
            position: relative;

            i.sort-caret {
              position: absolute;
              display: block;
              border: 5px solid transparent;

              &.asc {
                border-bottom-color: #c0c4cc;
                bottom: 11px;
              }

              &.desc {
                border-top-color: #c0c4cc;
                top: 11px;
              }
            }
          }

          &.gk-table-sortable {
            cursor: pointer;

            .sortable-desc {
              i.sort-caret {
                &.desc {
                  border-top-color: $--primary-color;
                }
              }
            }

            .sortable-asc {
              i.sort-caret {
                &.asc {
                  border-bottom-color: $--primary-color;
                }
              }
            }
          }

        }

        th.gk-table-header-last {
          width: 15px;
        }

        @media screen and (-webkit-min-device-pixel-ratio: 0) {
          th.gk-table-header-last {
            width: 6px;
          }
        }
      }
    }
  }

  .gk-table-body {
    user-select: none;

    & > table {
      width: 100%;
      background-color: $--table-body-background-color;
      color: $--font-color;
      font-size: $--font-size;
      border-spacing: 0;
      border: 0;
      table-layout: fixed;

      tr.gk-table-item {
        td {
          border-top: 1px solid $--table-border-color;
          padding: 12px 0;
        }

        &:last-child {
          td {
            border-bottom: 1px solid $--table-border-color;
          }
        }

        &:hover {
          td {
            background-color: $--table-hover-color;
            border-top-color: $--table-hover-border-color;
            border-bottom-color: $--table-hover-border-color;
          }

          & + tr {
            td {
              border-top-color: $--table-hover-border-color;
            }
          }

          .gk-checkbox {
            display: inline;
          }
        }

        &.is-active {
          td {
            background-color: $--table-active-color;
            border-top-color: $--table-active-border-color;
            border-bottom-color: $--table-active-border-color;
          }

          & + tr {
            td {
              border-top-color: $--table-active-border-color;
            }
          }

          .gk-checkbox {
            display: inline;
          }
        }
      }
    }
  }

  .gk-table-empty {
    @include fit-window;
  }

  .gk-table-more {
    @include fit-window;
    top: auto;
    text-align: center;
    font-size: $--table-more-font-size;
    height: $--table-more-height;
    line-height: $--table-more-height;
    color: $--table-more-font-color;
    background: $--table-more-background;
  }

  &.gk-table-fit {
    @include fit-window;

    .gk-table-body {
      @include fit-window;
    }
  }

  &.gk-table-with-header {
    .gk-table-body, .gk-table-empty {
      top: $--table-head-height;
    }
  }

  .gk-table-checkbox {
    .gk-checkbox {
      display: none;

      &.is-checked {
        display: inline;
      }
    }
  }

  .gk-table-header {
    .gk-checkbox {
      display: inline;
    }
  }

  &.gk-table-show-checkbox {
    .gk-checkbox {
      display: inline;
    }
  }
}