@import "./common/var.scss";
@import "./mixins/utils.scss";

.gk-thumbnail {
  .gk-thumbnail-list {
    padding: 10px;
    margin: 0;
    overflow-y: auto;
    background-color: $--thumbnail-background-color;
    user-select: none;

    @include clearfix;

    & > .gk-thumbnail-item {
      position: relative;
      list-style: none;
      float: left;
      border: 1px solid #f0f0f0;
      margin: 12px 6px;
      padding: 10px;
      text-align: center;
      color: $--font-color;
      font-size: $--font-size;

      img {
        max-width: 100%;
        max-height: 100%;
        vertical-align: middle;
      }

      .gk-thumbnail-checkbox {
        position: absolute;
        right: 5px;
        top: 5px;
        display: none;

        &.gk-checkbox-checked {
          display: inline;
        }
      }

      &:hover {
        background-color: #F2F7FF;
        .gk-thumbnail-checkbox {
          display: inline;
        }
      }

      &.gk-thumbnail-active-item {
        background-color: #E5EFFA;
        color: #FFFFFF;
      }
    }

    &.gk-thumbnail-checkbox {
      .gk-thumbnail-checkbox {
        display: inline;
      }
    }
  }

  .gk-thumbnail-empty {
    @include fit-dom;
  }

  .gk-thumbnail-more {
    @include fit-window;
    top: auto;
    text-align: center;
    font-size: $--table-more-font-size;
    height: $--table-more-height;
    line-height: $--table-more-height;
    color: $--table-more-font-color;
    background: $--table-more-background;
  }

  .gk-thumbnail-fit {
    @include fit-window;
  }
}