@import "../common/var.scss";

@mixin button-variant($fill-color, $hover-color, $active-color) {
  border-color: $fill-color;
  background-color: $fill-color;
  color: $--font-reverse-color;

  &:hover,
  &:focus {
    background-color: $hover-color;
    border-color: $hover-color;
  }

  &.is-active {
    background: $hover-color;
    border-color: $hover-color;
  }
}