$--primary-color: #4B7FEF;

$--font-size: 14px;
$--font-color: #4A4A4A;
$--font-reverse-color: #FFFFFF;
$--link-font-color: #3D7DF7;

/* Breadcrumb
--------------------------*/
$--breadcrumb-button-size: 28px;

/* Table
--------------------------*/
$--table-head-height: 36px;
$--table-hover-color: #e6f2ff;
$--table-active-color: $--primary-color;
$--table-head-background-color: #8C95A4;

/* Button
--------------------------*/
$--button-border-color: #8C95A4;