$--primary-color: #4B7FEF !default;
$--primary-hover-color: #E6F2FF !default;
$--disabled-color: #9F9F9F !default;

$--font-size: 14px !default;
$--font-color: #4A4A4A !default;
$--font-reverse-color: #FFFFFF !default;
$--link-font-color: #3D7DF7 !default;

/* Breadcrumb
--------------------------*/
$--breadcrumb-button-size: 28px !default;
$--breadcrumb-item-width: 100px !default;

/* Table
--------------------------*/
$--table-head-height: 36px !default;
$--table-head-font-color: #8C95A4 !default;
$--table-hover-color: $--primary-hover-color !default;
$--table-active-color: $--primary-color !default;
$--table-head-background-color: #f0f0f0 !default;
$--table-body-background-color: #FFFFFF !default;
$--table-border-color: #F0F0F0 !default;
$--table-more-font-size: 12px !default;
$--table-more-height: 24px !default;
$--table-more-font-color: #999 !default;
$--table-more-background: rgba(255,255,255,0.8) !default;

/* Button
--------------------------*/
$--button-border-color: #8C95A4 !default;
$--button-padding: 9px 28px !default;
$--button-border-radius: 2px !default;

/* Thumbnail
--------------------------*/
$--thumbnail-background-color: #FFFFFF !default;
$--thumbnail-hover-color: #e6f2ff !default;
$--thumbnail-active-color: $--primary-color !default;

/* Slide
--------------------------*/
$--slide-toolbar-height: 40px !default;
$--slide-toolbar-background-color: #2b2d32 !default;

/* Menu
--------------------------*/
$--menu-background-color: #FFFFFF !default;
$--menu-hover-color: $--primary-hover-color !default;
$--menu-active-color: $--primary-color !default;
$--menu-disabled-font-color: $--disabled-color !default;
$--menu-item-height: 26px !default;
$--menu-item-padding: 0 25px !default;

/* Uploader
--------------------------*/
$--uploader-empty-color: #5C7088 !default;

/* Loading
--------------------------*/
$--loading-offset: 187 !default;
$--loading-duration: 1.4s !default;